language: php
php:
- '8.1'
branches:
  only:
  - master
#addons:
#  mariadb: '10.2'
env: #|
# in sequence :
# get the directory name after the sign "-"
# "git for-each-ref --sort=-taggerdate --count=1 --format '%(refname:short)' refs/tags" displays the last tag's shortname
# "git for-each-ref --sort=-taggerdate --count=1 --format '%(contents:subject)' refs/tags" displays the last tag's first line
# "git for-each-ref --sort=-taggerdate --count=1 --format '%(contents:body)' refs/tags" displays the last tag's 3d line and following ones
#>
  - GLPI_PLUGIN_NAME=`echo $TRAVIS_BUILD_DIR | sed -e 's/^.*-//'` TRAVIS_TAG=`git for-each-ref --sort=-taggerdate --count=1 --format '%(refname:short)' refs/tags` RELEASE_NAME=`git for-each-ref --sort=-taggerdate --count=1 --format '%(contents:subject)' refs/tags` RELEASE_BODY=`git for-each-ref --sort=-taggerdate --count=1 --format '%(contents:body)' refs/tags`
install: true
script: true
after_success:
  - tar --transform "s%^%$GLPI_PLUGIN_NAME/%" --show-transformed -zcvf $GLPI_PLUGIN_NAME-$TRAVIS_TAG.tar.gz front inc locales sql $GLPI_PLUGIN_NAME.png *.svg *.xml *.php INSTALL.md LICENSE README.md
deploy:
  provider: releases
#  edge: true
  token:
    secure: MhjaW3RLoWoxA8WwNNccsyv+6gwBjTeuTJt+t+9RhBrgOiD694BX7isxCaCX5LlsiiQ27GGBxKNhErvUYAE4TqX0/RaRT4d9XfcJTf79oQbq18mxd4vufMbLIQXrDjh0+YJHAFOzeJnLD8ZYPEdcGsDIKgoBD9ox0VCpTE9C3rShLlMKnFBpAzzFJRXFjHZG+Hni9tEdFrM2X82C+rR7wCvP337KZNoi+jcKBQ2eLp4OlK9w+/4A1MPUyIViVwQvJpsjwnLZlNVSd/GtRHUyhOVFYITv5qK8Bz8EHTrBzF3hmxPFK40mRcV3x2c2L8EPW32G1DD47nXJCvciQhNunFvqPtFt/XQo2cnvu3ILN+Lzft9ZWnVk3DRW3MpiQj/tAk8ZCFYQNQzuLZI61m7/URQPuNi9IyzF81gT8ply3WOwpUD8ZdYFoLxibW9oGqxdWvFBKFFjl0HcKghLDE9PwrYob/+EUY/hYBMclcmuGyZSCLHyZZER6J6NEel7qQxhV37IRCqPuEjN0WdHJn3AaQgOrDSd4yTan36eB18FWUzgQWPXCczqHlmC8XcB1KvkUESFTzl8WF5zSKJvQTV0IzTPDNRO8aXGyRaPtPH3R/tn29zot5Tlv3+1kqxpcCrhuaty0JJAfQbyNrdEWVYjBKLCQ3m6Zl8EzWyqeVpNM5w=
  skip_cleanup: true
  file: $GLPI_PLUGIN_NAME-$TRAVIS_TAG.tar.gz
  name: $RELEASE_NAME
#  body: $RELEASE_BODY
  prerelease: false
  on:
    repo: ericferon/glpi-$GLPI_PLUGIN_NAME
    tags: true
